
<div class="standard-form">
    <form name="form" action="/forgot-password" method="POST" novalidate>
        <div class="form-field">
            <input
                type="text"
                id="email"
                name="email"
                value="{{email}}"
                placeholder=" "
                required
            />
            <label for="email">E-mail</label>
        </div>
        <button class="form-button">Recover password</button>
    </form>
</div>